<div class="layout-topbar">
    <div class="layout-topbar-start">
        <a class="layout-topbar-logo">
            <img src="assets/layout/images/atom-icon.png" alt="CR" class="logo-large" width="44" height="44" />
            <img src="assets/layout/images/logo-atom-chat.png" alt="Logo" class="logo-small" width="250" height="40" />
          </a>

    </div>

    <div class="layout-topbar-end">
        <div class="layout-topbar-actions-start">
        </div>
        <div class="layout-topbar-actions-end">
            <ul class="layout-topbar-items">
                <div class="image-container flex">
                    <img src="assets/layout/images/logo-atom-chat.png" alt="Image 1" width="150" height="40" />
                </div>
            </ul>
        </div>
    </div>
</div>
