::ng-deep .p-button.p-button-icon-only {
    min-width: unset !important;
    height: 0 !important;
}


::ng-deep .ellipsis {
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
    max-width: 175px !important;
  }
