<div>
  <ul class="list-none p-0 m-0">
    <li *ngFor="let task of taskList; trackBy:trackByTaskId" class="flex flex-column md:flex-row md:align-items-center 
               justify-content-between gap-3 p-3 border-bottom-1 surface-border">
      <div class="flex align-items-start flex-1 gap-3">
        <p-checkbox [binary]="true" (onChange)="onCheckboxChange($event, task)" [(ngModel)]="task.completed"
          [inputId]="task.id.toString()">
        </p-checkbox>
        <div class="flex flex-column gap-1">
          <span class="font-semibold text-lg" [ngClass]="{'line-through text-500': task.completed}">
            {{ task.title }}
          </span>
          <small class="text-600">
            {{ task.createdAt | date:'dd/MM/yyy hh:mm a' }}
          </small>

          <small class="text-500 italic">
            {{ task.description }}
          </small>
        </div>
      </div>
      <div class="flex gap-2 justify-content-end">
        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info"
          (click)="onEditTask(task)">
        </button>
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
          (click)="onDeleteTask(task.id)">
        </button>
      </div>
    </li>
  </ul>
</div>